doctype html
html(lang="en")
    head 
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title Main Page
        link(rel="stylesheet" href="css/style.min.css")
    body 
        include components/header
        main.page   
            h1 Hello! 
            img(src="@img/nature.jpg" alt="nature" width="300" height="200")
        include components/footer
        script(src="js/app.min.js")