:root {
    --dark-charcoal: #312e2c;
    --wenge-brown: #5f564d;
    --snow: #fff7fb;
    --dark-raspberry: #7a284e;
    --brandy-red: #854632;
    --white-coffee: #e3ddd7;
    --eggshell: #f3e5d7;
}
